/* Quality links */
.prp-quality-radio {
	border-radius: 50%;
	border: 0.35714em solid;
	box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.25 );
	/* Force inline-block in Apex */
	display: inline-block;
}
.oo-ui-horizontalLayout > .oo-ui-widget.prp-quality-widget {
	vertical-align: top;
}
.prp-quality-widget > label {
	margin-left: 0.5em;
}
.quality4 {
	background-color: #90ff90;
	border-color: #90ff90;
}
.quality3 {
	background-color: #ffe867;
	border-color: #ffe867;
}
.quality2 {
	background-color: #b0b0ff;
	border-color: #b0b0ff;
}
.quality1 {
	background-color: #ffa0a0;
	border-color: #ffa0a0;
}
.quality0 {
	background-color: #ddd;
	border-color: #ddd;
}

.pr_quality {
	border-collapse: separate;
	border-spacing: 0 0;
	border: 1px dotted #b8b8b8;
	text-align: center;
	max-width: 100%;
}

.pr_quality td {
	padding: 0;
	height: 0.6em;
}
