@import 'mediawiki.skin.variables.less';

/* Quality links */

/* stylelint-disable selector-class-pattern */
.quality4 {
	background-color: @background-color-green100;
	border-color: @background-color-green100;
}

.quality3 {
	background-color: @background-color-yellow100;
	border-color: @background-color-yellow100;
}

.quality2 {
	background-color: @background-color-blue100;
	border-color: @background-color-blue100;
}

.quality1 {
	background-color: @background-color-red100;
	border-color: @background-color-red100;
}

.quality0 {
	background-color: @background-color-muted;
	border-color: @background-muted;
}

.pr_quality {
	border-collapse: separate;
	border-spacing: 0 0;
	border: 1px dotted @border-color-subtle;
	text-align: center;
	max-width: 100%;
}

.pr_quality td {
	padding: 0;
	height: 0.6em;
}
/* stylelint-enable selector-class-pattern */

.prp-index-pagelist-page {
	text-align: center;
	min-width: 1em;
	display: inline-block;
	padding: 0.15em;
	margin: 1px;
}

.prp-index-pagelist {
	display: flex;
	flex-wrap: wrap;
}
