.prp-indexpages-row {
	display: inline-table;
	border-spacing: 10px 0;
	white-space: nowrap;
}

.prp-indexpages-row > div {
	display: table-cell;
}

.prp-indexpages-row > span {
	display: table-cell;
}

.prp-indexpages-row .pr_quality {
	display: inline-block;
	height: 0.6em;
}
