.prp-page-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.prp-page-content {
	flex: 1;
	padding-right: 12px;
}

.prp-page-content .pagetext {
	margin-bottom: 0.5em;
}

.prp-page-image {
	flex: 1;
	padding-left: 12px;
}

.prp-page-image img {
	width: 100%;
	height: auto;
}

/* TODO: Don't use IDs */
#prp-page-qualityheader { /* stylelint-disable-line selector-max-id */
	width: 100%;
}

.pagetext p:first-of-type {
	text-indent: 0;
}
