/* Adjustments for WikiEditor extension */
.wikiEditor-ui-view {
	background-color: #e8f2f8;
}

.wikiEditor-ui-text textarea {
	border: 0;
	padding: 0;
	line-height: 1.5em;
	margin: 0;
	resize: vertical;
}

#editform .prp-page-content { /* stylelint-disable-line selector-max-id */
	line-height: 1.5em;
}

.ext-proofreadpage-label {
	color: #808080;
	font-size: 80%;
}

.editOptions {
	clear: both;
}
