#ca-proofreadPagePrevLink.icon a,
#ca-proofreadPageNextLink.icon a,
#ca-proofreadPageIndexLink.icon a {
	margin: 0;
	padding: 0;
	outline: none;
	display: block;
	width: 26px;
	/* This hides the text but shows the background image */
	padding-top: 3.1em;
	margin-top: 0;
	/* Only applied in IE6 */
	margin-top: -0.8em !ie;
	height: 0;
	overflow: hidden;
	background-position: 50% 70%;
}

#ca-proofreadPagePrevLink.icon a {
	/* @embed */
	background-image: url( 'images/leftarrow.png' );
}

#ca-proofreadPageNextLink.icon a {
	/* @embed */
	background-image: url( 'images/rightarrow.png' );
}

#ca-proofreadPageIndexLink.icon a {
	/* @embed */
	background-image: url( 'images/uparrow.png' );
}