.prp-page-container {
	width: 100%;
}
.prp-page-content {
	float: left;
	width: 50%;
}

.prp-page-image {
	float: right;
	width: 49%;
	position: relative;
	overflow: auto;
}

#prp-page-qualityheader {
	width: 100%;
}

.table-cell-left {
	display:table-cell;
}
.table-cell-right {
	display:table-cell;
}