/* Adjustments for WikiEditor extension */
.wikiEditor-ui-view {
	background-color: #e8f2f8;
}

.wikiEditor-ui-text textarea {
	border: 0;
	padding: 0;
	line-height: 1.5em;
	/* TODO: Is this required? Does it need to be important? */
	margin: 0 !important; /* stylelint-disable-line declaration-no-important */
	resize: vertical;
}
