/* stylelint-disable selector-max-id */
.prp-tabs #ca-proofreadPagePrevLink.icon a,
.prp-tabs #ca-proofreadPageNextLink.icon a,
.prp-tabs #ca-proofreadPageIndexLink.icon a {
	margin: 0;
	padding: 0;
	outline: 0;
	display: block;
	width: 26px;
	/* This hides the text but shows the background image */
	padding-top: 3.1em;
	/* Only applied in IE6 */
	margin-top: -0.8em !ie;
	height: 0;
	overflow: hidden;
	background-position: 50% 75%;
}
