/* Quality links */
.quality4 {
	background-color: #90ff90;
}
.quality3 {
	background-color: #ffe867;
}
.quality2 {
	background-color: #b0b0ff;
}
.quality1 {
	background-color: #ffa0a0;
}
.quality0 {
	background-color: #ddd;
}

/* Presentation of page pages */
/*TODO: ie6 and ie7 support*/
.prp-page-container {
	display: table;
	width: 100%;
}
.prp-page-image {
	display: table-cell;
	width: 50%;
	vertical-align: top;
	overflow: hidden;
	position: absolute;
}
.prp-page-content {
	display: table-cell;
	width: 50%;
	padding-right: 0.5em;
	vertical-align: top;
	position: relative;
}
#prp-page-qualityheader {
	width: 100%;
}
