.oo-ui-icon-prp-quality0 {
	background-image: url( images/quality0.svg );
}

.oo-ui-icon-prp-quality1 {
	background-image: url( images/quality1.svg );
}

.oo-ui-icon-prp-quality2 {
	background-image: url( images/quality2.svg );
}

.oo-ui-icon-prp-quality3 {
	background-image: url( images/quality3.svg );
}

.oo-ui-icon-prp-quality4 {
	background-image: url( images/quality4.svg );
}
